

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
/* header-area */
.nav-area{
    display: flex;
    justify-content: space-between;
}
.nav-area .logo img{
    margin-top: 24px;
}
.links{
    display: flex;
    gap:48px;
    margin-top: 40px;
}
.links .link{
    display: flex;
    gap: 48px;
    /* display: none; */
}
.links a{
    text-decoration:none;
}
.home{
    color: #252432;
}
.shop{
    color: #8987A1;
}
/* banner-area */
.banner-area{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.banner-area .banner-left{
    flex:1;
}
.banner-area .banner-left h2{
    font-size: 3rem;
    font-weight: bold;
}
#fresh-flower{
    color: #E95A08;
}
.banner-area .banner-left p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgb(145, 143, 143);
    margin-top: 13px;
}
.banner-area .banner-right img{
    width: 100%;
    display: block;
}
  /* main saction */
  .our-plants{
    margin-top: 120px;
  }
.our-plants .plants-text{
    text-align: center;
}
.our-plants .plants-text h2{
    font-size: 3rem;
    font-weight: bold;
}
.our-plants .plants-text p{
    text-align: center;
    font-size: 1.375rem;
    margin-top: 15px;
    max-width: 90%;
    color: #8987A1;
    
}
.plants-cards{
    margin-top: 50px;
    max-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.plants-cards .plants-card .card-text{
   text-align: center;
   margin-top: 30px;
}
.plants-cards .plants-card img{
    max-width: 100%;
    display: block;
}
.plants-cards .plants-card h4{
    font-size: 1.375rem;
    font-weight: bold;
}
.plants-cards .plants-card h5{
    font-size: 1.375rem;
    font-weight: 500;
}
.plants-cards .plants-card button{
    padding: 10px 80px;
    background-color: #E95A08;
    border: none;
    color: white;
    margin-top: 30px;
    width: 100%;
    white-space: nowrap;
}
/* resposive design */
@media screen and (max-width:768px) {
    .nav-area{
        margin: 0 10px;
    }
    .links .link{
    display: flex;
    gap: 48px;
    display: none;
}
.links #cart{
    margin-top: 25px;
}
.banner-area{
    margin-top: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.banner-left{
    margin:10px;
   
}
.banner-area .banner-left h2{
    font-size: 2rem;
    font-weight: bold;
}
.banner-area .banner-left p{
    font-size:0.875rem;
    font-weight: 400;
}

.our-plants .plants-text h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.our-plants .plants-text p{
    text-align: center;
    font-size: 0.875rem;
    margin-top: 15px;
    max-width: 100%;
    
}
.plants-cards{
    grid-template-columns: repeat(2, 1fr );
   column-gap: 10px;
    row-gap: 20px;
    width: 100px;
    margin:0 15px;
   
}
.plants-cards .plants-card{
    margin-top: 20px;
}
.plants-cards .plants-card button{
    padding: 10px 45px;
    background-color: #E95A08;
    border: none;
    color: white;
    margin-top: 30px;
    width: 100%;
    white-space: nowrap;
}
}
